# In this case study, we are going to work on the Netflix movies and TV shows dataset.Our first task is to read the dataset and print the shape of the dataset.

In [2]:
import pandas as pd
df=pd.read_csv(r"D:\Data Analyst Project\NetflixDataset\netflix_dataset.csv")
print(df.shape)

(7787, 12)

## Describe the dataset.

In [3]:
print(df.describe())

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

## Print the datatype of each column.

In [4]:
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

## Print the number of NA values in each column.

In [5]:
value=df.isna().sum()
print(value)

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

## Find and print the overall percentage of TV shows and Movies.

In [8]:
movie=round(100*df["type"].value_counts(normalize=True).values[0],1)
tv=round(100*df["type"].value_counts(normalize=True).values[1],1)
print(movie,tv)

69.1 30.9

## print the year having the most number of content added.

In [17]:

result = df["release_year"].max()
#result = df.groupby('release_year').max()
print(result)

2021

## Mean

In [22]:
avg=df['release_year']
print(round(avg.mean(),2))

2013.93

## Corelation is the relation between two integer values -df.corr()["col1"][col2]

## InterQuartile

In [29]:
Q1=df['release_year'].quantile(0.25)
Q3=df['release_year'].quantile(0.75)
IQR=Q3-Q1
print(IQR)

5.0