## Q.1 Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA. [Click](https://www.hackerrank.com/challenges/revising-the-select-query/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY WHERE POPULATION>100000 AND COUNTRYCODE='USA'

### Q.2 Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA. [Click](https://www.hackerrank.com/challenges/revising-the-select-query-2/problem?isFullScreen=true)

In [ ]:
SELECT NAME FROM CITY WHERE POPULATION>120000 AND COUNTRYCODE='USA'

### Q.3 Query all columns (attributes) for every row in the CITY table. [Click](https://www.hackerrank.com/challenges/select-all-sql/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY

### Q.4 Query all columns for a city in CITY with the ID 1661. [Click](https://www.hackerrank.com/challenges/select-by-id/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY WHERE ID=1661

### Q.5 Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN. [Click](https://www.hackerrank.com/challenges/japanese-cities-attributes/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE='JPN'

### Q.6 Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN. [Click](https://www.hackerrank.com/challenges/japanese-cities-name/problem?isFullScreen=true)

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE='JPN'

### Q.7 Query a list of CITY and STATE from the STATION table. [Click](https://www.hackerrank.com/challenges/weather-observation-station-1/problem?isFullScreen=true)

In [ ]:
SELECT CITY,STATE FROM STATION

### Q.8 Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer. [Click](https://www.hackerrank.com/challenges/weather-observation-station-3/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE ID%2=0

### Q.9 Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table. [Click](https://www.hackerrank.com/challenges/weather-observation-station-4/problem?isFullScreen=true)

In [ ]:
SELECT COUNT(*)-COUNT(DISTINCT CITY) AS DIFF FROM STATION

### Q.10 Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically. [Click](https://www.hackerrank.com/challenges/weather-observation-station-5/problem?isFullScreen=true)

In [ ]:
SELECT CITY,LENGTH(CITY) AS COUNTS FROM STATION
GROUP BY CITY
ORDER BY COUNTS,CITY LIMIT 1;
SELECT CITY,LENGTH(CITY) AS COUNTS FROM STATION
GROUP BY CITY
ORDER BY COUNTS DESC,CITY LIMIT 1;

### Q.11 Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-6/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE CITY LIKE 'a%'
or CITY LIKE 'e%'
or CITY LIKE 'i%'
or CITY LIKE 'o%'
or CITY LIKE 'u%'
--Aliter
SELECT DISTINCT city FROM station WHERE city REGEXP '^[aeiou]';

### Q.12 Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-7/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE CITY LIKE '%a'
or CITY LIKE '%e'
or CITY LIKE '%i'
or CITY LIKE '%o'
or CITY LIKE '%u'
--Aliter
SELECT DISTINCT city FROM station WHERE city REGEXP '[aeiou]$';

### Q.13 Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-8/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '^[aeiou]' AND CITY REGEXP '[aeiou]$'
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) IN ('A','E','I','O','U') AND SUBSTR(CITY,-1,1) IN ('a','e','i','o','u');

### Q.14 Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-9/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) NOT IN ('A','E','I','O','U');
--ALITER
SELECT DISTINCT (CITY) FROM STATION WHERE CITY REGEXP '^[^AEIOU]';

### Q.15 Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-10/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,-1,1) NOT IN ('A','E','I','O','U')
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '[^AEIOU]$'

### Q.16 Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-11/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) NOT IN ('A','E','I','O','U')
OR SUBSTR(CITY,-1,1) NOT IN ('A','E','I','O','U')
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '^[^AEIOU]' OR CITY REGEXP '[^AEIOU]$'

### Q.17 Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-12/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) NOT IN ('A','E','I','O','U')
AND SUBSTR(CITY,-1,1) NOT IN ('A','E','I','O','U')
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '^[^AEIOU]' AND CITY REGEXP '[^AEIOU]$'

### Q.18 Query the Name of any student in STUDENTS who scored higher than 75 Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID. [Click](https://www.hackerrank.com/challenges/more-than-75-marks/problem?isFullScreen=true)

In [ ]:
SELECT NAME FROM STUDENTS WHERE
MARKS>75
ORDER BY SUBSTR(NAME,-3,3),ID;

### Q.19 Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order. [Click](https://www.hackerrank.com/challenges/name-of-employees/problem?isFullScreen=true)

In [ ]:
SELECT name FROM Employee 
ORDER BY name

### Q.20 Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than 2000 per month who have been employees for less than 10 months. Sort your result by ascending employee_id. [Click](https://www.hackerrank.com/challenges/salary-of-employees/problem?isFullScreen=true)

In [ ]:
SELECT name FROM Employee WHERE salary>2000 and months<10 
ORDER BY employee_id

### Q.21 Write a query identifying the type of each record in the TRIANGLES table using its three side lengths. Output one of the following statements for each record in the table. [Click](https://www.hackerrank.com/challenges/what-type-of-triangle/problem?isFullScreen=true)

In [ ]:
select 
CASE WHEN (A+B <= C OR B+C <= A OR A+C <= B) THEN 'Not A Triangle' 
WHEN A=B AND B=C THEN 'Equilateral'
WHEN A=B OR B=C OR C=A  THEN 'Isosceles'
ELSE 'Scalene' 
END as traingle
from TRIANGLES

### Q.22 Generate the following two result sets:

Query an alphabetically ordered list of all names in OCCUPATIONS, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).
Query the number of ocurrences of each occupation in OCCUPATIONS. Sort the occurrences in ascending order, and output them in the following format:

There are a total of [occupation_count] [occupation]s.
where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and [occupation] is the lowercase occupation name. If more than one Occupation has the same [occupation_count], they should be ordered alphabetically. [Click](https://www.hackerrank.com/challenges/the-pads/problem?isFullScreen=true)

In [ ]:
SELECT CONCAT(NAME,'(',SUBSTR(OCCUPATION,1,1),')') AS A FROM OCCUPATIONS ORDER BY A; 
SELECT CONCAT('There are a total of ',COUNT(OCCUPATION),' ',LOWER(OCCUPATION),'s.') FROM OCCUPATIONS
GROUP BY OCCUPATION ORDER BY COUNT(OCCUPATION)ASC,OCCUPATION;

### Q.23 Query a count of the number of cities in CITY having a Population larger than 100000. [Click](https://www.hackerrank.com/challenges/revising-aggregations-the-count-function/problem?isFullScreen=true)

In [ ]:
SELECT COUNT(ID) FROM CITY WHERE POPULATION > 100000;

### Q.24 Query the total population of all cities in CITY where District is California. [Click](https://www.hackerrank.com/challenges/revising-aggregations-sum/problem?isFullScreen=true)

In [ ]:
SELECT SUM(POPULATION) FROM CITY WHERE DISTRICT='California'

### Q.25 Query the average population of all cities in CITY where District is California. [Click](https://www.hackerrank.com/challenges/revising-aggregations-the-average-function/problem?isFullScreen=true)

In [ ]:
SELECT AVG(POPULATION) FROM CITY WHERE DISTRICT='California'

### Q.26 Query the average population for all cities in CITY, rounded down to the nearest integer. [Click](https://www.hackerrank.com/challenges/average-population/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(AVG(POPULATION)) FROM CITY

### Q.27 Query the sum of the populations for all Japanese cities in CITY. The COUNTRYCODE for Japan is JPN. [Click](https://www.hackerrank.com/challenges/japan-population/problem?isFullScreen=true)

In [ ]:
SELECT SUM(POPULATION) FROM CITY WHERE COUNTRYCODE='JPN'