## Q.1 Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA. [Click](https://www.hackerrank.com/challenges/revising-the-select-query/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY WHERE POPULATION>100000 AND COUNTRYCODE='USA'

### Q.2 Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA. [Click](https://www.hackerrank.com/challenges/revising-the-select-query-2/problem?isFullScreen=true)

In [ ]:
SELECT NAME FROM CITY WHERE POPULATION>120000 AND COUNTRYCODE='USA'

### Q.3 Query all columns (attributes) for every row in the CITY table. [Click](https://www.hackerrank.com/challenges/select-all-sql/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY

### Q.4 Query all columns for a city in CITY with the ID 1661. [Click](https://www.hackerrank.com/challenges/select-by-id/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY WHERE ID=1661

### Q.5 Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN. [Click](https://www.hackerrank.com/challenges/japanese-cities-attributes/problem?isFullScreen=true)

In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE='JPN'

### Q.6 Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN. [Click](https://www.hackerrank.com/challenges/japanese-cities-name/problem?isFullScreen=true)

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE='JPN'

### Q.7 Query a list of CITY and STATE from the STATION table. [Click](https://www.hackerrank.com/challenges/weather-observation-station-1/problem?isFullScreen=true)

In [ ]:
SELECT CITY,STATE FROM STATION

### Q.8 Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer. [Click](https://www.hackerrank.com/challenges/weather-observation-station-3/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE ID%2=0

### Q.9 Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table. [Click](https://www.hackerrank.com/challenges/weather-observation-station-4/problem?isFullScreen=true)

In [ ]:
SELECT COUNT(*)-COUNT(DISTINCT CITY) AS DIFF FROM STATION

### Q.10 Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically. [Click](https://www.hackerrank.com/challenges/weather-observation-station-5/problem?isFullScreen=true)

In [ ]:
SELECT CITY,LENGTH(CITY) AS COUNTS FROM STATION
GROUP BY CITY
ORDER BY COUNTS,CITY LIMIT 1;
SELECT CITY,LENGTH(CITY) AS COUNTS FROM STATION
GROUP BY CITY
ORDER BY COUNTS DESC,CITY LIMIT 1;

### Q.11 Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-6/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE CITY LIKE 'a%'
or CITY LIKE 'e%'
or CITY LIKE 'i%'
or CITY LIKE 'o%'
or CITY LIKE 'u%'
--Aliter
SELECT DISTINCT city FROM station WHERE city REGEXP '^[aeiou]';

### Q.12 Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-7/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE CITY LIKE '%a'
or CITY LIKE '%e'
or CITY LIKE '%i'
or CITY LIKE '%o'
or CITY LIKE '%u'
--Aliter
SELECT DISTINCT city FROM station WHERE city REGEXP '[aeiou]$';

### Q.13 Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-8/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '^[aeiou]' AND CITY REGEXP '[aeiou]$'
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) IN ('A','E','I','O','U') AND SUBSTR(CITY,-1,1) IN ('a','e','i','o','u');

### Q.14 Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-9/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) NOT IN ('A','E','I','O','U');
--ALITER
SELECT DISTINCT (CITY) FROM STATION WHERE CITY REGEXP '^[^AEIOU]';

### Q.15 Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-10/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,-1,1) NOT IN ('A','E','I','O','U')
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '[^AEIOU]$'

### Q.16 Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-11/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) NOT IN ('A','E','I','O','U')
OR SUBSTR(CITY,-1,1) NOT IN ('A','E','I','O','U')
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '^[^AEIOU]' OR CITY REGEXP '[^AEIOU]$'

### Q.17 Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates. [Click](https://www.hackerrank.com/challenges/weather-observation-station-12/problem?isFullScreen=true)

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTR(CITY,1,1) NOT IN ('A','E','I','O','U')
AND SUBSTR(CITY,-1,1) NOT IN ('A','E','I','O','U')
--ALITER
SELECT DISTINCT CITY FROM STATION WHERE CITY REGEXP '^[^AEIOU]' AND CITY REGEXP '[^AEIOU]$'

### Q.18 Query the Name of any student in STUDENTS who scored higher than 75 Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID. [Click](https://www.hackerrank.com/challenges/more-than-75-marks/problem?isFullScreen=true)

In [ ]:
SELECT NAME FROM STUDENTS WHERE
MARKS>75
ORDER BY SUBSTR(NAME,-3,3),ID;

### Q.19 Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order. [Click](https://www.hackerrank.com/challenges/name-of-employees/problem?isFullScreen=true)

In [ ]:
SELECT name FROM Employee 
ORDER BY name

### Q.20 Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than 2000 per month who have been employees for less than 10 months. Sort your result by ascending employee_id. [Click](https://www.hackerrank.com/challenges/salary-of-employees/problem?isFullScreen=true)

In [ ]:
SELECT name FROM Employee WHERE salary>2000 and months<10 
ORDER BY employee_id

### Q.21 Write a query identifying the type of each record in the TRIANGLES table using its three side lengths. Output one of the following statements for each record in the table. [Click](https://www.hackerrank.com/challenges/what-type-of-triangle/problem?isFullScreen=true)

In [ ]:
select 
CASE WHEN (A+B <= C OR B+C <= A OR A+C <= B) THEN 'Not A Triangle' 
WHEN A=B AND B=C THEN 'Equilateral'
WHEN A=B OR B=C OR C=A  THEN 'Isosceles'
ELSE 'Scalene' 
END as traingle
from TRIANGLES

### Q.22 Generate the following two result sets:

Query an alphabetically ordered list of all names in OCCUPATIONS, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).
Query the number of ocurrences of each occupation in OCCUPATIONS. Sort the occurrences in ascending order, and output them in the following format:

There are a total of [occupation_count] [occupation]s.
where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and [occupation] is the lowercase occupation name. If more than one Occupation has the same [occupation_count], they should be ordered alphabetically. [Click](https://www.hackerrank.com/challenges/the-pads/problem?isFullScreen=true)

In [ ]:
SELECT CONCAT(NAME,'(',SUBSTR(OCCUPATION,1,1),')') AS A FROM OCCUPATIONS ORDER BY A; 
SELECT CONCAT('There are a total of ',COUNT(OCCUPATION),' ',LOWER(OCCUPATION),'s.') FROM OCCUPATIONS
GROUP BY OCCUPATION ORDER BY COUNT(OCCUPATION)ASC,OCCUPATION;

### Q.23 Query a count of the number of cities in CITY having a Population larger than 100000. [Click](https://www.hackerrank.com/challenges/revising-aggregations-the-count-function/problem?isFullScreen=true)

In [ ]:
SELECT COUNT(ID) FROM CITY WHERE POPULATION > 100000;

### Q.24 Query the total population of all cities in CITY where District is California. [Click](https://www.hackerrank.com/challenges/revising-aggregations-sum/problem?isFullScreen=true)

In [ ]:
SELECT SUM(POPULATION) FROM CITY WHERE DISTRICT='California'

### Q.25 Query the average population of all cities in CITY where District is California. [Click](https://www.hackerrank.com/challenges/revising-aggregations-the-average-function/problem?isFullScreen=true)

In [ ]:
SELECT AVG(POPULATION) FROM CITY WHERE DISTRICT='California'

### Q.26 Query the average population for all cities in CITY, rounded down to the nearest integer. [Click](https://www.hackerrank.com/challenges/average-population/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(AVG(POPULATION)) FROM CITY

### Q.27 Query the sum of the populations for all Japanese cities in CITY. The COUNTRYCODE for Japan is JPN. [Click](https://www.hackerrank.com/challenges/japan-population/problem?isFullScreen=true)

In [ ]:
SELECT SUM(POPULATION) FROM CITY WHERE COUNTRYCODE='JPN'

### Q.28 Query the difference between the maximum and minimum populations in CITY. [Click](https://www.hackerrank.com/challenges/population-density-difference/problem?isFullScreen=true)

In [ ]:
SELECT MAX(POPULATION)-MIN(POPULATION) AS POPULATION_DIFF FROM CITY;

### Q.29 Samantha was tasked with calculating the average monthly salaries for all employees in the EMPLOYEES table, but did not realize her keyboard's '0' key was broken until after completing the calculation. She wants your help finding the difference between her miscalculation (using salaries with any zeros removed), and the actual average salary. Write a query calculating the amount of error (i.e.:Actual - miscalculated  average monthly salaries), and round it up to the next integer. [Click](https://www.hackerrank.com/challenges/the-blunder/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(AVG(SALARY))-ROUND(AVG(REPLACE(SALARY,'0',''))) FROM EMPLOYEES;

### Q.30 We define an employee's total earnings to be their monthly  worked(salary x months), and the maximum total earnings to be the maximum total earnings for any employee in the Employee table. Write a query to find the maximum total earnings for all employees as well as the total number of employees who have maximum total earnings. Then print these values as 2 space-separated integers. [Click](https://www.hackerrank.com/challenges/earnings-of-employees/problem?isFullScreen=true)

In [ ]:
SELECT (salary*months) as earnings,COUNT(employee_id) FROM EMPLOYEE 
group by earnings
order by earnings desc
limit 1;

### Q.31 Query the following two values from the STATION table: [Click](https://www.hackerrank.com/challenges/weather-observation-station-2/problem?isFullScreen=true)

The sum of all values in LAT_N rounded to a scale of 2 decimal places.
The sum of all values in LONG_W rounded to a scale of 2 decimal places.

In [ ]:
SELECT ROUND(SUM(LAT_N),2),ROUND(SUM(LONG_W),2) FROM STATION

### Q.32 Query the sum of Northern Latitudes (LAT_N) from STATION having values greater than 38,7880 and less than 137,2345. Truncate your answer to  decimal places. [Click](https://www.hackerrank.com/challenges/weather-observation-station-13/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(SUM(LAT_N),4) FROM STATION WHERE LAT_N>38.7880 AND LAT_N<137.2345

### Q.33 Query the greatest value of the Northern Latitudes (LAT_N) from STATION that is less than 137.2345. Truncate your answer to 4 decimal places. [Click](https://www.hackerrank.com/challenges/weather-observation-station-14/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(MAX(LAT_N),4) FROM STATION WHERE LAT_N<137.2345

### Q.34 Query the Western Longitude (LONG_W) for the largest Northern Latitude (LAT_N) in STATION that is less than 137.2345. Round your answer to 4 decimal places. [Click](https://www.hackerrank.com/challenges/weather-observation-station-15/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(LONG_W,4) FROM STATION WHERE LAT_N<137.2345 ORDER BY LAT_N 
DESC LIMIT 1

### Q.35 Query the smallest Northern Latitude (LAT_N) from STATION that is greater than 38.7780. Round your answer to 4 decimal places. [Click](https://www.hackerrank.com/challenges/weather-observation-station-16/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(LAT_N,4) FROM STATION WHERE LAT_N>38.7780
ORDER BY LAT_N LIMIT 1

### Q.36 Query the Western Longitude (LONG_W)where the smallest Northern Latitude (LAT_N) in STATION is greater than 38.7780. Round your answer to 4 decimal places. [Click](https://www.hackerrank.com/challenges/weather-observation-station-17/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(LONG_W,4) FROM STATION WHERE LAT_N>38.7780
ORDER BY LAT_N LIMIT 1

### Q.37 Given the CITY and COUNTRY tables, query the sum of the populations of all cities where the CONTINENT is 'Asia'. [Click](https://www.hackerrank.com/challenges/asian-population/problem?isFullScreen=true)

Note: CITY.CountryCode and COUNTRY.Code are matching key columns.

In [ ]:
SELECT SUM(CT.POPULATION) FROM CITY CT JOIN COUNTRY CY
ON CT.COUNTRYCODE=CY.CODE WHERE CY.CONTINENT='Asia'

### Q.38 Given the CITY and COUNTRY tables, query the names of all cities where the CONTINENT is 'Africa'. [Click](https://www.hackerrank.com/challenges/african-cities/problem?isFullScreen=true)

Note: CITY.CountryCode and COUNTRY.Code are matching key columns.

In [ ]:
SELECT CT.NAME FROM CITY CT JOIN COUNTRY CY
ON CT.COUNTRYCODE=CY.CODE 
WHERE CY.CONTINENT='Africa'

### Q.39 Given the CITY and COUNTRY tables, query the names of all cities where the CONTINENT is 'Africa'. [Click](https://www.hackerrank.com/challenges/african-cities/problem?isFullScreen=true)

Note: CITY.CountryCode and COUNTRY.Code are matching key columns.

In [ ]:
SELECT CT.NAME FROM CITY CT JOIN COUNTRY CY
ON CT.COUNTRYCODE=CY.CODE
WHERE CY.CONTINENT='Africa'

### Q.40 Given the CITY and COUNTRY tables, query the names of all the continents (COUNTRY.Continent) and their respective average city populations (CITY.Population) rounded down to the nearest integer. [Click](https://www.hackerrank.com/challenges/average-population-of-each-continent/problem?isFullScreen=true)

Note: CITY.CountryCode and COUNTRY.Code are matching key columns.

In [ ]:
SELECT CY.CONTINENT,FLOOR(AVG(CT.POPULATION)) FROM CITY CT
JOIN COUNTRY CY ON CT.COUNTRYCODE=CY.CODE
GROUP BY CY.CONTINENT

### Q.41 Write a query to print the pattern P(20). [Click](https://www.hackerrank.com/challenges/draw-the-triangle-1/problem?isFullScreen=true)

In [ ]:
WITH RECURSIVE CTE AS (
SELECT 20 AS U,REPEAT('* ',20) AS RESULT
    UNION ALL
    SELECT U-1,REPEAT('* ',U-1) AS RESULT FROM CTE
    WHERE U>1
)
SELECT RESULT FROM CTE

### Q.42 Write a query to print the pattern P(20). [Click](https://www.hackerrank.com/challenges/draw-the-triangle-2/problem?isFullScreen=true)

In [ ]:
WITH RECURSIVE CTE AS(
SELECT 1 AS U,CAST('*' as CHAR(50)) AS RESULT
    UNION ALL
    SELECT U+1,REPEAT('* ',U+1) AS RESULT FROM CTE
    WHERE U<20
)
SELECT RESULT FROM CTE

### Q.43 Pivot the Occupation column in OCCUPATIONS so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.[Click](https://www.hackerrank.com/challenges/occupations/problem?isFullScreen=true)
Note: Print NULL when there are no more names corresponding to an occupation.

In [ ]:
SELECT
MAX(CASE WHEN OCCUPATION='Doctor' THEN NAME END),
MAX(CASE WHEN OCCUPATION='Professor' THEN NAME END),
MAX(CASE WHEN OCCUPATION='Singer' THEN NAME END),
MAX(CASE WHEN OCCUPATION='Actor' THEN NAME END)
FROM
(SELECT *, ROW_NUMBER () OVER (PARTITION BY OCCUPATION ORDER BY NAME) AS RNK
FROM OCCUPATIONS) T
GROUP BY RNK

### Q.44 You are given a table, BST, containing two columns: N and P, where N represents the value of a node in Binary Tree, and P is the parent of N. [Click](https://www.hackerrank.com/challenges/binary-search-tree-1/problem?isFullScreen=true)
Write a query to find the node type of Binary Tree ordered by the value of the node. Output one of the following for each node:
Root: If node is root node.
Leaf: If node is leaf node.
Inner: If node is neither root nor leaf node.

In [ ]:
SELECT DISTINCT N,CASE
WHEN P IS NULL THEN 'Root'
WHEN N IN (SELECT DISTINCT P FROM BST) THEN 'Inner'
ELSE 'Leaf'
END
FROM BST
ORDER BY N;

### Q.45 Amber's conglomerate corporation just acquired some new companies. Each of the companies follows this hierarchy: [Click](https://www.hackerrank.com/challenges/the-company/problem?isFullScreen=true)

Given the table schemas below, write a query to print the company_code, founder name, total number of lead managers, total number of senior managers, total number of managers, and total number of employees. Order your output by ascending company_code.

Note:

The tables may contain duplicate records.
The company_code is string, so the sorting should not be numeric. For example, if the company_codes are C_1, C_2, and C_10, then the ascending company_codes will be C_1, C_10, and C_2.

In [ ]:
SELECT company_code,founder,count(distinct lead_manager_code),
count(distinct senior_manager_code),count(distinct manager_code),count(Distinct employee_code)
from Employee natural join Company
group by company_code,founder
order by company_code

### Q.46 Consider p1(a,b) and p2(c,d) to be two points on a 2D plane. [Click](https://www.hackerrank.com/challenges/weather-observation-station-18/problem?isFullScreen=true)

a happens to equal the minimum value in Northern Latitude (LAT_N in STATION).
b happens to equal the minimum value in Western Longitude (LONG_W in STATION).
c happens to equal the maximum value in Northern Latitude (LAT_N in STATION).
d happens to equal the maximum value in Western Longitude (LONG_W in STATION).
Query the Manhattan Distance between points p1 and p2 and round it to a scale of 4 decimal places.

In [ ]:
SELECT ROUND(ABS(MAX(LAT_N)-MIN(LAT_N))+ABS(MAX(LONG_W)-MIN(LONG_W)),4) FROM STATION

### Q.47 Consider P1(a,c) and P2(b,d) to be two points on a 2D plane where (a,b) are the respective minimum and maximum values of Northern Latitude (LAT_N) and (c,d) are the respective minimum and maximum values of Western Longitude (LONG_W) in STATION. [Click](https://www.hackerrank.com/challenges/weather-observation-station-19/problem?isFullScreen=true)
Query the Euclidean Distance between points p1 and p2 and format your answer to display 4 decimal digits.

In [ ]:
SELECT ROUND(SQRT(POW(MAX(LAT_N)-MIN(LAT_N),2)+POW(MAX(LONG_W)-MIN(LONG_W),2)),4) FROM STATION

### Q.48 A median is defined as a number separating the higher half of a data set from the lower half. Query the median of the Northern Latitudes (LAT_N) from STATION and round your answer to 4 decimal places. [Click](https://www.hackerrank.com/challenges/weather-observation-station-20/problem?isFullScreen=true)

In [ ]:
SELECT ROUND(LAT_N,4) FROM 
(SELECT LAT_N, PERCENT_RANK() OVER(ORDER BY LAT_N) AS PERCENTILE FROM STATION) AS K
WHERE PERCENTILE=0.5